body {
  width: 100%;
  height: 100%;
  margin: 0;
  @apply bg-white;
}

.popup-root {
  width: $popup-root-width;
  height: $popup-root-height;
}

.ListsPagePanel {
  > * {
    height: $popup-secondary-block-height;
  }
  .bp3-panel-stack-header {
    height: 45px;
    margin-left: -10px;
    margin-bottom: 10px;
  }
}

.LinksPage {
  height: calc($popup-third-block-height - 25px);
}

.LinksPage.TabsPage {
  height: calc($popup-third-block-height + 15px);
}

.ListsPage_lists {
  height: calc($popup-third-block-height + 10px);
}

.ExportPopoverPanel {
  .bp3-panel-stack-header {
    .bp3-button-text {
      display: none;
    }
  }
}
