.tabs-batch-operations {
  padding: 0 6px 6px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  .operation-select-all {
    margin-bottom: 0;
  }
  .operation-search {
    width: 200px;
    margin-right: 10px;
  }
}