$item-height: 36px;

.ListItems {
  @include item-rows-ul;
  @extend .scrollable;
  margin-left: -4px;
  padding: 10px 0 0 10px;
}

.ListItem {
  @include item-row;
  @extend .hoverable;
  @extend .hoverable__clickable;
  height: $item-height;
}

.ListItem__main {
  @include item-row__main($item-height);
}

.ListItem__main__name {
  @extend .text-ellipsis;
}

.ListItem__main__hint {
  @extend .text-light;
  text-align: right;
  padding-right: 10px;
}

.ListItem__main--edit {
  input {
    width: 100%;
  }
}

.ListItem__actions {
  @include item-row__actions;
}

.ListItem__actions--hover {
  @include item-row__actions--hover;
}