ul.tabs-list {
  padding: 6px 0 0 0;
  margin: 0;
}

li.tab {
  list-style: none;
  height: 28px;
  padding: 4px 6px;
  &:hover {
    background: #eee;
  }
  .tab-checkbox {
    padding-top: 2px;
  }
  .tab-favicon {
    img {
      width: 20px;
      height: 20px;
    }
  }
  .tab-title {
    margin-left: 8px;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    a {
      text-decoration: none;
    }
  }
}