.popover-panel-wrapper {
  > * {
    height: 300px;
  }
  .panel-content {
    .main-section {
      height: 230px;
    }
  }
}

.ExportPopoverPanel {
  > * {
    height: 380px;
  }
  .bp3-panel-stack-header {
    .bp3-button-text {
      display: none;
    }
  }
  textarea {
    height: 300px !important;
    font-size: 12px !important;
    margin-top: 10px;
  }
}

.popover-content {
  padding: 20px;
  > * {
    width: 300px;
  }
}