$tab-item-height: 32px;

.TabItems {
  @include item-rows-ul;
  @extend .scrollable;
}

.TabItem {
  @include item-row;
  @extend .hoverable;
  padding: 2px 4px;
  height: $tab-item-height;
}

.TabItem__main {
  @include item-row__main($item-height);
  margin-left: 8px;
}

.TabItem__main__name {
  @extend .text-ellipsis;
}

.TabItem__checkbox {
  margin-bottom: 0;
}

.TabItem__actions {
  @include item-row__actions;
}

.TabItem__actions--hover {
  @include item-row__actions--hover;
}