$item-height: 36px;

.ListItems {
  @extend %item-rows-ul;
  @extend %scrollable;
  margin-left: -4px;
  padding: 10px 0 5px 10px;
}

.ListItem {
  @extend %item-row;
  @extend %hoverable;
  @extend %hoverable__clickable;
  height: $item-height;
}

.ListItem__main {
  @extend item-row__main;
  height: $item-height;
  line-height: $item-height;
}

.ListItem__main__name {
  @extend %text-ellipsis;
}

.ListItem__main__hint {
  @extend %text-light;
  text-align: right;
  padding-right: 10px;
}

.ListItem__main--edit {
  input {
    width: 100%;
  }
}

.ListItem__actions {
  @extend %item-row__actions;
}