$tab-item-height: 34px;

.TabItem {
  @include item-row;
  @extend .hoverable;
  padding: 2px 4px;
  height: $tab-item-height;
}

.TabItem__main {
  @extend .text-nowrap;
  @extend .text-ellipsis;
  padding: 0 4px;

  margin-left: 4px;
}

.TabItem__main__name {
  @extend .text-ellipsis;
}

.TabItem__main__url {
  font-size: 9px;
  @extend .text-ellipsis;
  color: #555;
}

.TabItem__checkbox {
  margin-bottom: 0;
}

.TabItem__actions {
  @include item-row__actions;
}

.TabItem__actions--hover {
  @include item-row__actions--hover;
}