.favicon {
  width: 20px;
  height: 20px;
  img {
    width: 20px;
    height: 20px;
  }
}

.item-rows-ul {
  padding: 0;
  margin: 0;
}

.item-row {
  display: flex;
  list-style: none;
  padding: 2px 0;
  align-items: center;
  border-radius: 4px;
}