.app-container {
  padding: 0 6px;

  header {
    text-align: center
  }
}

.app-tab {
  margin-top: 10px;
}

.add-to-list-box {
  > * {
    height: 300px;
  }
  .panel-content {
    .main-section {
      height: 230px;
    }
    .actions {
      display: flex;
      padding-top: 10px;
      justify-content: space-between;
      .secondary-btn {
        margin-left: auto;
        margin-right: 10px;
      }
    }
  }
}

.popover-content {
  padding: 20px;
  > * {
    width: 300px;
  }
}

.ListsPagePanel {
  > * {
    height: $popup-secondary-block-height;
  }
}

.TabsPage {
  height: $popup-secondary-block-height;
}

.TabsPage__tabs {
  height: $popup-third-block-height + 15px;
  padding: 6px 0;
  margin-left: -4px;
}

.ListDetailsPage {
  padding-top: 10px;
}

.ListDetailsPage__lists {
  @include item-rows-ul;
  @extend .scrollable;
  height: $popup-third-block-height - 60px;
  margin-left: -4px;
}

.ListDetailsPage_bottom {
  padding-top: 10px;
}