.root {
  position: relative;
}

.app-container {
  header {
    text-align: center
  }
}

.app-tabs {
  div[role="tablist"] {
    padding-left: 10px;
  }
}

.app-tab {
  margin-top: 10px;
}

.add-to-list-box {
  > * {
    height: 300px;
  }
  .panel-content {
    .main-section {
      height: 230px;
    }
  }
}

.popover-content {
  padding: 20px;
  > * {
    width: 300px;
  }
}

.ListsPagePanel {
  > * {
    height: $popup-secondary-block-height;
  }
}

.ListDetailsPage {
  padding: 10px 0 0 10px;
}

.ListDetailsPage {
  height: $popup-third-block-height - 25px;
}

.ListDetailsPage.TabsPage {
  height: $popup-third-block-height + 15px;
}

.ListsPage_lists {
  height: $popup-third-block-height + 10px;
}

.LinkItems {
  @include item-rows-ul;
  @extend .scrollable;
  padding-top: 6px;
  margin-left: -4px;
}

.PageBottom {
  padding: 6px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $secondary-body-bg;
}