.app-container {
  padding: 0 6px;

  header {
    text-align: center
  }
}

.add-to-list-box {
  > * {
    height: 300px;
  }
  .panel-content {
    .main-section {
      height: 230px;
    }
    .actions {
      display: flex;
      padding-top: 10px;
      justify-content: space-between;
      .secondary-btn {
        margin-left: auto;
        margin-right: 10px;
      }
    }
  }
}

.popover-content {
  padding: 20px;
  > * {
    width: 300px;
  }
}


.ListsPagePanel {
  > * {
    height: $popup-secondary-block-height;
  }
}