.scrollable {
  overflow-x: auto;
  overflow-y: scroll;
  height: 100%;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3px;
    background-color: #fff;
  }
  &::-webkit-scrollbar-thumb {
    border: 1px solid #f8f8f8;
    background-color: #e5e5e5;
  }
}

.hoverable {
  .visible-on-hover {
    display: none;
  }
  &:hover {
    background: $color-hover;
    cursor: pointer;
    .visible-on-hover {
      display: block;
    }
  }
}