.scrollable {
  overflow-x: auto;
  overflow-y: scroll;
  height: 100%;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3px;
    background-color: #fff;
  }
  &::-webkit-scrollbar-thumb {
    border: 1px solid #f8f8f8;
    background-color: $gray3;
  }
}

.hoverable {
  .visible-on-hover {
    display: none;
  }
  &:hover {
    box-shadow: 3px 2px 2px #aaa;
    cursor: default;
    .visible-on-hover {
      display: block;
    }
  }
}

.hoverable__clickable {
  &:hover {
    cursor: pointer;
  }
}