@import "@blueprintjs/core/lib/scss/variables.scss";

$popup-root-width: 450px;
$popup-root-height: 600px;
$popup-secondary-block-height: 530px;
$popup-third-block-height: 465px;

/* Colors */
$body-bg: #fff;
$secondary-body-bg: $gray5;
$color-hover: $light-gray4;
$color-hover-border: $gray2;